// Override default variables before the import
$body-bg: black;

$theme-colors: (
  'primary': #e6007a,
  'success': #0dd27f,
  'cian': #00ffe1,
  'dark': black,
  'grey-dark': #2d2d2d,
  'light': #FFFF,
);

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';
