// Override default variables before the import
$theme-colors: (
  'primary': #e6007a,
  'secondary': #01ffff,
  'dark': black,
  'grey-dark': #6c757d,
  'light': white,
);

* {
  color: white;
}

.dropdown-toggle::after {
  vertical-align: 36% !important;
  margin-left: 0.7em !important;
}

html * {
  font-family: Roboto, sans-serif !important;
  font-style: normal !important;
}

h1 {
  font-weight: bold !important;
  font-size: 36px !important;
}

h4 {
  font-weight: bold !important;
  font-size: 16px !important;
}

h2, h3, h4, h5 {
  color: white;
}

p {
  color: #C4C4C4;
}

a {
  color: #01ffff !important;
}

.btn-lg {
  font-weight: bold !important;
}

.btn-link {
  color: #01ffff !important;
}

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';
