endpoint: wss://kusama-rpc.polkadot.io
mock-signature-host: true
block: ${env.KUSAMA_BLOCK_NUMBER}
db: ./db.sqlite
# wasm-override: ./custom-kusama-runtime.wasm
runtime-log-level: 5

import-storage:
  System:
    Account:
      -
        -
          - 5GrwvaEF5zXb26Fz9rcQpDWS57CtERHpNehXCPcNoHGKutQY
        - providers: 1
          data:
            free: '10000000000000000000'
      -
        -
          - 5FHneW46xGXgs5mUiveU4sbTyGBzmstUspZC92UhjJM694ty
        - providers: 1
          data:
            free: '10000000000000000000'
      -
        -
          - 5FLSigC9HGRKVhB9FiEo4Y3koPsNmBmLJbpXg2mp1hXcS59Y
        - providers: 1
          data:
            free: '10000000000000000000'
  Society:
    $removePrefix:
      - Bids
      - Candidates
      - Members
    Bids:
      - { who: "5GrwvaEF5zXb26Fz9rcQpDWS57CtERHpNehXCPcNoHGKutQY", kind: "deposit", value: 1 } # Alice
    Candidates:
      - [[5FHneW46xGXgs5mUiveU4sbTyGBzmstUspZC92UhjJM694ty]] # Bob
    Members:
      - [[5FLSigC9HGRKVhB9FiEo4Y3koPsNmBmLJbpXg2mp1hXcS59Y], rank: 0] # Charlie
  ParasDisputes:
    $removePrefix: ['disputes'] # those can makes block building super slow
