// Override default variables before the import
$body-bg: black;

$theme-colors: (
  "primary": #e6007a,
  "success": #0dd27f,
  "cian": #00ffe1,
  "dark": #212529,
  "grey-dark": #2d2d2d,
  "light": #eee,
);

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';
